.img-fluid {
  max-width: 100%;
  height: auto;
}

.card {
  padding-left: 20px;
}

.card-one {
  border: none;
}

h6 {
  font-family: "Arial", Helvetica, sans-serif
}

.center {
  text-align: center;
}

.card-grey {
  background-color: red;
}

.submit {
  background-color: grey;
  color: red;
}

/* testimonials  */

.content {
  padding-top: 30px;
}

.card-title h6 {
  font-weight: normal;
}